
        <%= form_for @comment do |f| %>
        <div class =”form-group”>
        <div class ='container'>
        <br><label>Formulaire de commentaire</label></br>
        Ton com's baby : <br><%= f.text_field :content  %></br>
        <%= f.submit "Soumettre mon formulaire" %>
        </div>
        </div> 
        <% end %>














  















       






