
    <%= form_for @gossip do |f| %>
    <div class =”form-group”>
    <br><label>Formulaire de création de Gossip</label></br>
    Titre du gossip : <br><%= f.text_field :title  %></br>
    Contenu du gossip : <br><%= f.text_field :content %></br>
    <%= f.submit "Soumettre mon formulaire" %>
    </div>
    <% end %> 


    



    




